<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<context:property-placeholder location="classpath:resources/database.properties" />
	<context:component-scan base-package="org.ucm.cis.leis" />
	<!--<context:component-scan base-package="org.ucm.cis.leis.service" />
	<context:component-scan base-package="org.ucm.cis.leis.dao" />
	
	--><!--<context:component-scan base-package="org.ucm.cis.leis">
	     <context:include-filter type="aspectj" expression="org.ucm.cis.leis.*" />
	</context:component-scan>-->

	<mvc:default-servlet-handler/>
	<mvc:annotation-driven />

	<tx:annotation-driven transaction-manager="hibernateTransactionManager" />

	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.password}" />
	</bean>
	<!--
		<context:component-scan base-package="org.ucm.cis.leis.controllers" />
	-->
	<mvc:resources mapping="/resources/**" location="/resources/"  
	cache-period="31556926"/>
	<!-- <mvc:resources location="css/" mapping="css/**" />
	<mvc:resources location="images/" mapping="images/**" />
	<mvc:resources location="js/" mapping="js/**" /> -->
	
		<!--<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		> <property name="prefix"> <value>/WEB-INF/pages/</value> </property>
		<property name="suffix"> <value>.jsp</value> </property> </bean>
	
	--><bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>org.ucm.cis.leis.models.Manufacturer</value>
				<value>org.ucm.cis.leis.models.Equipment</value>
				<value>org.ucm.cis.leis.models.EquipmentType</value>
				<value>org.ucm.cis.leis.models.FundingSource</value>
				<value>org.ucm.cis.leis.models.Location</value>
				<value>org.ucm.cis.leis.models.Model</value>
				<value>org.ucm.cis.leis.models.PlatformType</value>
				<value>org.ucm.cis.leis.models.Status</value>
				<value>org.ucm.cis.leis.models.Login</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>

	<!--<bean id="hibernateTransactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	--><bean id="hibernateTransactionManager"
        class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="dataSource" ref="dataSource" />
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

</beans>